#fon {
    background-color: rgb(255, 255, 255);
}
.fon2 {
    width: 100%;
            
}
.slidecontainer {
    width: 100%;
}

.slider {
    width: 100%;
    height: 25px;
    background: #d3d3d3;
}

#block1{
    height: 200px;
    width: 200px;
    margin: 20px;
    background-color: red;
    right: 0%;
    position: absolute;
    top: 100px;
}
#block2{
    height: 200px;
    width: 200px;
    margin: 20px;
    background-color: blue;
    position: absolute;
    left: 0%;
    top: 500px;
}